* {
    font-family: cursive;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(213, 255, 241);
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    background-color: #004607;
    padding: 20px;
    color: white;
}

header h1 {
    padding-bottom: 10px;
}

h2 {
    padding-bottom: 10px;
}

ul {
    list-style: none;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: aqua;
    text-decoration: none;
}

header,
#all-songs,
#most-played-songs,
#add-songs {
    width: 1170px;
    padding: 30px;
    margin: 0 auto;
}

#all-songs {
    background-color: rgb(246, 208, 205);
}

#most-played-songs {
    background-color: rgb(225, 242, 158);
}

#add-songs {
    background-color: rgb(194, 250, 188);
}

.flex-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex-list li {
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(64, 49, 49);
    font-weight: bold;
    margin-bottom: 10px;
}

form input {
    margin-bottom: 10px;
    padding: 5px;
}

form button {
    padding: 5px 10px;
}